body {
    font-family: 'Nunito', sans-serif;
}

header h1 {
    font-size: 200%;
    text-align: center;
    background-color: #CECECE;
    line-height: 65px;
}


div.side-part {
    display: flex;
    width: 250px;
    justify-content: center;
    text-align: center;;
    /* border-right: 1px solid black; */
    margin-top: 5px;
    left: 0;
}

div.parent {
    display: flex;
}

div.grid-container {
    width: 100vw;
    display: grid;
    grid-template-areas:  
        "big-card big-card big-card big-card";
    grid-template-columns: repeat(5, 1fr);   
    grid-template-rows: 250px 200px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

div.big-card {
    grid-column: 1 / 6;
}

.date {
    border: 1px solid black;
}

div.top-part h2  {
    font-size: 150%;
    margin: 10px;
    font-weight: 700;
}

button {
    margin: 10px;
    width: 175px;
    background-color: rgb(140, 158, 216);
    height: 28px;
    border-style: none;
    color: white;
    border-radius: 5px;
}

div.search-button {
    /* border-bottom: 1px solid black; */
}

button:hover {
    transform: scale(1.115);
}

li {
    margin: 15px;
    background-color: aqua;
    line-height: 30px;
    padding: 0 10px 0 5px;
    border-radius: 5px;
}